<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_googletagmanager>
            <general>
                <enable>0</enable>
                <gtm_code_position>body</gtm_code_position>
                <gtm_code></gtm_code>
                <id_selection>id</id_selection>
                <enable_brand>0</enable_brand>
                <brand_attribute></brand_attribute>
                <order_total_calculation>grandtotal</order_total_calculation>
                <impression_chunk_size>15</impression_chunk_size>
                <promotion_tracking>0</promotion_tracking>
                <exclude_tax_from_transaction>0</exclude_tax_from_transaction>
                <exclude_shipping_from_transaction>0</exclude_shipping_from_transaction>
                <custom_dimension_customerid>0</custom_dimension_customerid>
                <custom_dimension_customergroup>0</custom_dimension_customergroup>
                <custom_dimension_stockstatus>0</custom_dimension_stockstatus>
            </general>
            <api>
                <ip_anonymization>0</ip_anonymization>
            </api>
            <adwords_conversion_tracking>
                <enable>0</enable>
                <google_conversion_id>0000000</google_conversion_id>
                <google_conversion_label>00000</google_conversion_label>
                <google_conversion_currency_code>usd</google_conversion_currency_code>
            </adwords_conversion_tracking>
            <adwords_remarketing>
                <enable>0</enable>
                <conversion_code></conversion_code>
                <conversion_label></conversion_label>
            </adwords_remarketing>
        </weltpixel_googletagmanager>
    </default>
</config>