<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>            
            <servipag>
                <active>1</active>
                <title>Botón de Pago Servipag</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>                
                <model>Xpectrum\Servipag\Model\ServipagPayment</model>
                <group>offline</group>
            </servipag>            
        </payment>
    </default>
</config>