.xpec-popup-content.init{
    display: none;
}
.xpec-popup-content.init.active{
    display: block;
}
.xpec-popup-content .panel{
    width: 80%;
    margin-left: 10%;
    display: inline-block;
}
.xpec-popup-content .content-main-xpec{
    width: 90%;
}
.fancybox-skin{
    background-image: url('bg-newsletter.png');
}
.fancybox-wrap.fancybox-opened{
    width: 50%;
}
.fancybox-wrap .fancybox-inner{
    width: 100% !important;
    height: 50% !important;
}
.content-main-xpec .action.subscribe.primary{
    width: 100%;
    background: #a7daed;
    border-color: #a7daed;
    text-transform: uppercase;
    color: #000;
}
.content-main-xpec .newsletter .action.subscribe:before{
    width: 0px;
    height: 0px;
    display: none;
}
.content-main-xpec > .newsletter > .content{
    width: 100%;
}
.xpec-popup-content .panel .contenido p{
    color: #fff;
}
.xpec-popup-content .logo-xpec{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.xpec-popup-content .panel{
    padding-bottom: 20px;
}
.linlineblock{
    display: inline-block;
}
.xpec-control{
    display: inline-block;
}
.xpec-no-mostrar{
    text-align: center;
    color: #fff;
    padding-top: 15px;
}
.xpec-no-mostrar input{
    margin-left: 10px;
}
.xpec-control > div{
    float: left;
}
.xpec-input{
    padding-top: 2px;
}
.xpec-cms-newsletter{
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0;
    position: fixed;
    /* background-color: #9eafce; */
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    pointer-events: auto
}
.xpec-no-overflow{
    overflow-y: hidden;
}
.xpec-popup-content .contenido{
    text-align: center;
}
.xpec-bot-cerrar{
    background: transparent url('fancybox.png') -40px 0px;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    position: absolute;
    z-index: 6;
}
.xpec-col1,.xpec-col3{
    width: 25%;
    height: 100%;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    padding-right: 30px;
    padding-left: 30px;
}
.xpec-col1 img,.xpec-col3 img{
    top: 25%;
    position: relative;
}
.xpec-col2{
    width: 50%;
    position: relative;
    display: table-cell;
    height: 100%;
}
.xpec-container-newsletter-central{
    vertical-align: middle;
    top: 50%;
    position: relative;
    
}
.xpec-form-newsletter{
    width: 60%;
    margin: auto;
}
.xpec-container-newsletter{
    height: 100%;
}
.xpec-hidden{
    display: none !important;
}
/* .xpec-block-category{
    width: 30%;
    height: 400px;
    margin: auto;
} */
/* .xpec-content-image{
    width: 200px;;
} */
.xpec-parent-content-image{
    width: 145px;;
}
.xpec-content-newsletter{
    width: 100%;
    height: 100%;
    background: url('bg_newsletter.png');
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.xpec-logo-newsletter{
    /* width: 204px;
    height: 51px; */
    /* background-image: url('logo_grande.png'); */
    width: 68px;
    height: 18px;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    margin: auto;
}
.xpec-block-content{
    width: 30%;
    margin: auto;
    padding-top: 3%;
}
.xpec-bienvenida{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-family: 'Montserrat-Thin' !important;
    font-size: 14px;
}
.xpec-content-tect{
    /* font-family: 'Montserrat-Bold' !important; */
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    color: #000;
}
.xpec-content-tect p{
    margin: 4px 0;
    font-size: 14px;
}
.xpec-content-tect p bold{
    font-family: 'Montserrat-ExtraBold' !important;
}
.xpec-bot-register-newsletter{
    border: 0;
    background-color: #6f6f6f;
    color: #fff;
    width: 202px;
}
.xpec-class-form-newsletter{
    margin: auto;
    text-align: center;
}
.xpec-content-bot-form{
    padding-top: 10px;
}
.xpec-class-form-newsletter input{
    width: 202px;
    padding: 5px 10px;
    border: 0px;
}
.xpec-class-form-newsletter input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Montserrat-Thin' !important;
    font-size: 10px;
    color: #727272;
}
.xpec-class-form-newsletter input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    font-family: 'Montserrat-Thin';
    font-size: 10px;
    color: #727272;
}
.xpec-class-form-newsletter input::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    font-family: 'Montserrat-Thin';
    font-size: 10px;
    color: #727272;
}
.xpec-class-form-newsletter input:-ms-input-placeholder {  
    text-align: center;
    font-family: 'Montserrat-Thin';
    font-size: 10px;
    color: #727272;
}
.xpec-class-form-newsletter .control{
    padding-bottom: 20px;
}
.xpecprimary{
    background-color: #000;
}
.xpecsecundary{
    font-size: 8px;
    height: 40px;
    width: 202px;
}
.xpecsecundary:hover{
    border-width: 0px;
}
.xpec-block-content{
    width: 30%;
    margin: auto;
    padding-top: 3%;
}
.xpec-block-category{
    margin: auto;
    height: 169px;
}
/* .xpec-cat-fila .xpec-col{
    border: solid #000 1px;
    background-color: #eaeef5;
} */
.xpec-content-image{
    border: solid #000 2px;
    background-color: #eaeef5;
    margin: 0 9px;
    padding-top: 6px;
}
.xpec-btn-category-news{
    border: 2px solid #000;
    margin: 0 9px;
    background-color: #000;
    color: #fff;
}
.xpec-btn-category-news span{
    font-family: 'Montserrat-Regular';
    font-size: 10px;
}
.xpec-bot-close-newsletter{
    color: #ffffff;
    background-color: #94a0b5;
    border-color: #94a0b5;
    border-width: 0px;
}
.xpec-bot-close-newsletter:hover{
    color: #000;
    background-color: #fff;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('font/Montserrat-Thin.ttf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('font/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('font/Montserrat-ExtraBold.ttf');
}

@media (min-width: 600px){
    .xpec-block-category{
        display: inline-block;
    }
}
@media (max-width: 767px){
    .fancybox-opened{
        width: 85% !important;
    }
    .fancybox-wrap .fancybox-inner{
        width: 100% !important;
        height: 100% !important;
    }
}
@media (max-width: 599px){
    .xpec-block-category{
        width: 144px;
    }
}
@media (max-width: 480px){
    .xpec-block-category{
        width: 144px;
    }
}

