<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order">
        <plugin name="Xtento_AdvancedOrderStatus::checkNotifications" type="Xtento\AdvancedOrderStatus\Plugin\Model\Sales\OrderPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Status\History">
        <plugin name="Xtento_AdvancedOrderStatus::setFlag" type="Xtento\AdvancedOrderStatus\Plugin\Model\Sales\Order\Status\HistoryPlugin"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Container\OrderCommentIdentity">
        <plugin name="Xtento_AdvancedOrderStatus::setTemplateId" type="Xtento\AdvancedOrderStatus\Plugin\Model\Sales\Order\Email\Container\OrderCommentIdentityPlugin"/>
    </type>
</config>
<!--
/**
 * Product:       Xtento_AdvancedOrderStatus (2.1.4)
 * ID:            %!uniqueid!%
 * Packaged:      %!packaged!%
 * Last Modified: 2016-04-19T15:18:48+00:00
 * File:          etc/di.xml
 * Copyright:     Copyright (c) 2018 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->