<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Xpectrum_Reportes::xpectrum_reportes_orders"
             title="Reporte Ordenes"
             module="Xpectrum_Reportes"
             sortOrder="4"
             action="xpectrum/order/index"
             parent="Xpectrum_Backend::Xpectrum"
             resource="Xpectrum_Reportes::xpectrum_orders" />

        <add id="Xpectrum_Reportes::xpectrum_reportes_envios"
             title="Productos para Envío"
             module="Xpectrum_Reportes"
             sortOrder="5"
             action="xpectrum/envio/index"
             parent="Xpectrum_Backend::Xpectrum"
             resource="Xpectrum_Reportes::xpectrum_envio" />

    </menu>
</config>