.content-custom-payment{
	display: table;
}
.content-custom-payment > div{
	display: table-cell;
	vertical-align: middle;
}
.content-custom-payment .content-payment-custom > div{
	float: left;
}
.content-custom-payment .content-payment-custom .title{
    margin-top: 16px;
    margin-right: 14px;
}