<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="advancedorderstatus" frontName="advancedorderstatus">
            <module name="Xtento_AdvancedOrderStatus" before="Magento_Backend"/>
        </route>
    </router>
</config>
<!--
/**
 * Product:       Xtento_AdvancedOrderStatus (2.1.4)
 * ID:            %!uniqueid!%
 * Packaged:      %!packaged!%
 * Last Modified: 2016-02-25T18:57:30+00:00
 * File:          etc/adminhtml/routes.xml
 * Copyright:     Copyright (c) 2018 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->