<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="advancedorderstatus" translate="label" sortOrder="110" showInDefault="1" showInStore="0" showInWebsite="0">
            <tab>xtento</tab>
            <label>Advanced Order Status</label>
            <resource>Xtento_AdvancedOrderStatus::configuration</resource>
            <group id="general" translate="label" showInDefault="1" sortOrder="10">
                <label>Extension Configuration</label>
                <attribute type="expanded">1</attribute>
                <frontend_model>Xtento\XtCore\Block\System\Config\Form\Xtento\Module</frontend_model>
                <fieldset_css>Xtento_AdvancedOrderStatus|Xtento\AdvancedOrderStatus\Model\System\Config\Backend\Server</fieldset_css>
                <comment>
                    <![CDATA[
                    <script>
                    requirejs(['jquery', 'prototype'], function() {
                        function setCommentHtml(message) {
                            if (Prototype.Browser.IE) {
                                $('advancedorderstatus_general_serial').next('p').outerHTML = message;
                            } else {
                                $('advancedorderstatus_general_serial').next('p').innerHTML = message;
                            }
                        }

                        function initSystemConfiguration() {
                            if ($('advancedorderstatus_general_server_name')) {
                                $('advancedorderstatus_general_server_name').style.backgroundColor='#f0f0f0';
                                $('advancedorderstatus_general_server_name').disable();
                                if ($('row_advancedorderstatus_general_server')) {
                                    $('row_advancedorderstatus_general_server').hide();
                                }
                            }

                            if ($('advancedorderstatus_general_serial') && $('advancedorderstatus_general_serial').value !== '' && $('advancedorderstatus_general_server') && $('advancedorderstatus_general_server').value !== '') {
                                if ($('advancedorderstatus_general_serial').value.length !== 40) {
                                    setCommentHtml('<a href="http://www.xtento.com" target="_blank"><img src="//www.xtento.com/license/check/?d='+$('advancedorderstatus_general_server').value+'" border="0" style="margin-top: 4px;"/></a>');
                                } else {
                                    if (typeof $('advancedorderstatus_general_serial').nextSibling !== 'undefined' && typeof $('advancedorderstatus_general_serial').nextSibling.nextSibling !== 'undefined') {
                                        setCommentHtml('<a href="http://www.xtento.com" target="_blank"><img src="//www.xtento.com/license/check/?d='+$('advancedorderstatus_general_server').value+'" border="0" style="margin-top: 4px;"/></a>');
                                    }
                                }
                            } else {
                                if ($('advancedorderstatus_general_server').value !== '') {
                                    setCommentHtml('<a href="http://www.xtento.com" target="_blank"><img src="//www.xtento.com/license/check/?d='+$('advancedorderstatus_general_server').value+'" border="0" style="margin-top: 4px;"/></a>');
                                }
                            }
                        }
                        jQuery(document).ready(function () {
                            initSystemConfiguration();
                        });
                    });
                    </script>
                    ]]>
                </comment>
                <field id="heading" translate="label" sortOrder="10" showInDefault="1">
                    <label>General Configuration</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="server_name" translate="label" sortOrder="20" showInDefault="1">
                    <label>Server Name</label>
                    <frontend_model>Xtento\XtCore\Block\System\Config\Form\Xtento\Servername</frontend_model>
                </field>
                <field id="serial" translate="label comment" sortOrder="30" showInDefault="1">
                    <label>License Key</label>
                    <comment>Please enter your license key here.</comment>
                    <backend_model>Xtento\XtCore\Model\System\Config\Backend\License</backend_model>
                </field>
                <field id="enabled" translate="label comment" type="select" sortOrder="40" showInDefault="1">
                    <label>Module Enabled</label>
                    <comment>A valid license key is required in order to enable the module.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="server" translate="label" type="hidden" sortOrder="50" showInDefault="1">
                    <label/>
                    <backend_model>Xtento\AdvancedOrderStatus\Model\System\Config\Backend\Server</backend_model>
                </field>
                <field id="heading_status" translate="label" sortOrder="100" showInDefault="1">
                    <label>Status Configuration</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="visible_order_statuses" type="multiselect" translate="label comment" sortOrder="110" showInDefault="1">
                    <label>Visible order statuses</label>
                    <source_model>Xtento\XtCore\Model\System\Config\Source\Order\AllStatuses</source_model>
                    <comment><![CDATA[Only selected order statuses will be shown in the "Status" dropdown when changing the order status. Select multiple actions by holding down Shift or Ctrl while selecting statuses.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
<!--
/**
 * Product:       Xtento_AdvancedOrderStatus (2.1.4)
 * ID:            %!uniqueid!%
 * Packaged:      %!packaged!%
 * Last Modified: 2017-07-26T13:17:03+00:00
 * File:          etc/adminhtml/system.xml
 * Copyright:     Copyright (c) 2018 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->