<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	
	<preference for="Magento\Sales\Model\Order" type="Magecomp\Orderstatus\Model\Sales\Order"/>
	<preference for="Magento\Sales\Model\Order\Config" type="Magecomp\Orderstatus\Model\Sales\Order\Config"/>
  	<preference for="Magento\Sales\Model\Order\Status\History" type="Magecomp\Orderstatus\Model\Sales\Order\Status\History"/>
  	<preference for="Magento\Sales\Block\Order\History" type="Magecomp\Orderstatus\Block\Order\History"/>
  	<preference for="Magento\Sales\Ui\Component\Listing\Column\Status\Options" type="Magecomp\Orderstatus\Ui\Component\Listing\Column\Status\Options"/>
  	<preference for="Magento\Sales\Model\Order\Email\Container\Template" type="Magecomp\Orderstatus\Model\Order\Email\Container\Template"/>
  	
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magecomp_orderstatus_grid_data_source" xsi:type="string">Magecomp\Orderstatus\Model\ResourceModel\Orderstatus\Collection</item>
            </argument>
        </arguments>
    </type>
	
    <virtualType name="Magecomp\Orderstatus\Model\ResourceModel\Orderstatus\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">orderstatus</argument>
            <argument name="resourceModel" xsi:type="string">Magecomp\Orderstatus\Model\ResourceModel\Orderstatus</argument>
        </arguments>
    </virtualType>
</config>
