<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\Model\Session\Quote" type="CommerceExtensions\OrderImportExport\Model\Backend\Session\Quote" />
    <preference for="Magento\Quote\Model\QuoteValidator" type="CommerceExtensions\OrderImportExport\Model\Data\Import\QuoteValidator" />
    <type name="Magento\Quote\Model\Quote">
        <plugin name="CommerceExtensions_OrderImportExport::ReplaceNewIncrementId" type="CommerceExtensions\OrderImportExport\Plugin\CustomOrderNumber" />
    </type>
</config>