<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <newcarrier>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Itxepic\NewCarrier\Model\Carrier\NewCarrier</model>
                <name>Fixed</name>
                <title>Itxepic Free Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </newcarrier>
        </carriers>
    </default>
</config>