<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_XtCore" setup_version="2.2.0">
        <sequence>
            <module name="Magento_AdminNotification"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_XtCore (2.2.0)
 * ID:            %!uniqueid!%
 * Packaged:      %!packaged!%
 * Last Modified: 2018-04-03T09:56:30+00:00
 * File:          app/code/Xtento/XtCore/etc/module.xml
 * Copyright:     Copyright (c) 2018 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->