<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 CommerceExtensions. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CommerceExtensions_OrderImportExport::system_convert_orderimportexport" title="Import/Export Orders" sortOrder="30" module="CommerceExtensions_OrderImportExport" parent="Magento_Backend::system_convert" action="orderimportexport/data/importExport" resource="CommerceExtensions_OrderImportExport::import_export"/>
    </menu>
</config>

